*{
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif;
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}

/**************header-section********************/

.header-section {
    position: relative;
}
.header-nav{
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 100;
    width: 100%;
}
.sticky{
    padding-bottom:35px;
    background-color:  rgba(27, 26, 26, 0.6);
} 
.navbar-collapse {
    flex-grow: 0;
}
.nav-list{
    display: inline-block;
    padding-right: 16px;
    text-transform: uppercase;
}
.nav-list:hover .nav-link{
    color: #fff;
    transition: transform 0.4s ease;
    transform: scale(1.1);
}
.nav-link{
    color: rgb(217, 217, 217);
    font-size: 14px;
}
.nav-logo{
    text-decoration: none;
    font-size: 26px;
    color: rgb(255, 255, 255);
}
.nav-logo:hover {
    color: rgb(255, 255, 255);
}
.banner-portion figure img{
    width: 100%;
    height: 100vh;
}
.banner-portion::after{
    content:"" ;
    background: rgba(0,0,0,0.4);
    z-index:2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.banner-contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner-header{ 
    color: white;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.2;
    font-family: "Playfair Display";
}
.banner-caption{
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}

/************contact-section*********************/

.contact-section{
    margin-top: 100px;
}
.fullname, .email , .phone , .textarea{
    width: 100%;
    line-height: 2;
    /* color: #495057; */
    /* background-color: #fff; */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding-left: 10px;
    transition:  0.15s ease-in-out,;
    box-shadow: 0.15s ease-in-out;
}

form label{
    font-weight: 550;
    padding: 10px 0px;
    color: rgba(0,0,0,0.5);
}
.contact-info span{
    color: rgba(0,0,0,0.5);
    
}
.contact-info .para{
    color: rgba(0,0,0,0.5);

}
.contact-info p a{
    color: rgb(255, 53, 53);
    text-decoration: none;
}

/************footer-section*********************/

.footer-section{
    margin-top: 100px;
    background-color: rgba(0,0,0,0.8);
}
.about-footer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.about-footer-para{
    color: rgba(255, 255, 255, 0.3);
}
.Quick-Menu , .ministries{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}
.quick-menu-ul , .ministries-ul , .social-icons-ul{
    padding-left: 0px;
}
.social-icons-ul li{
    display:inline-block;
}
.social-icons-ul li a i{
   padding-right: 20px;
    color: rgba(255, 255, 255, 0.3);
}
.social-icons-ul >li>a:hover i{
    color: #ffff;
    transition: .5s;
}
.footer-lists:hover a{
    color: #ffff;
}
.footer-lists a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    transition: .5s;
}
.footer-lists{
    line-height: 38px;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.5);
    margin:80px 0px;
    font-family: 'Work Sans', sans-serif;
}
